/* RESET */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, p {
  margin: 0;
}

:root {
  --border-radius: 6px;
  --space-l: 1.2rem;
  --space-s: 1rem;
  --space-xs: 0.5rem;
  --title-color: #FFFFFF;
  --text-color: hsl(215, 51%, 70%);
  --highlight-color: hsl(178, 100%, 50%);
}

.content {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: hsl(217, 54%, 11%);
  padding: 2rem;
}

.card {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  background-color: hsl(216, 50%, 16%);
  padding: var(--space-l);
}

.card__content {
  padding-bottom: var(--space-s);
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.card__image {
  width: 100%;
  border-radius: var(--border-radius);
  margin-bottom: var(--space-l);
}

.card__title, .card__desc {
  margin-bottom: var(--space-l);
}

.card__desc {
  line-height: 1.8;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info__time, .info__pricing {
  display: flex;
  align-items: center;
}

.info__icon {
  margin-right: var(--space-xs);
}

.author {
  display: flex;
  padding-top: var(--space-s);
  align-items: center;
}

.author__avatar {
  width: 40px;
  height: 40px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  margin-right: var(--space-s);
}

.author__name {
  font-family: Outfit-regular, serif;
  color: #FFFFFF;
}

.attribution {
  position: fixed;
  bottom: 10px;
  color: #FFFFFF;
  font-size: 12px;
}


/* FONTS */

@font-face {
  font-family: Outfit-light;
  src: url('assets/fonts/Outfit/static/Outfit-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: Outfit-regular;
  src: url('assets/fonts/Outfit/static/Outfit-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Outfit-SemiBold;
  src: url('assets/fonts/Outfit/static/Outfit-SemiBold.ttf');
  font-weight: 600;
}

h1 {
  font-family: Outfit-SemiBold, serif;
  font-size: 1.5rem;
  color: #FFFFFF;
}

p {
  font-family: Outfit-light, serif;
  font-size: 18px;
  color: var(--text-color);
}

.info__pricing p {
  font-family: Outfit-SemiBold, serif;
  color: var(--highlight-color);
}

.info__time p {
  font-family: Outfit-regular, serif;
}

@media (min-width: 728px) {
  .card {
    width: 25vw;
    margin: 0 auto;
  }
}


